.grid-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  margin-left: 20px;
  margin-right: 20px;

  grid-template-areas:
        "header"
        "afstand"
        "brandstof"
        "snelheid"
        "meter"; 

}

body{
	background-color: black;
}

.highcharts-yaxis-grid .highcharts-grid-line {
  display: none;
}

.highcharts-plot-background{
  background-color: black;
}

#container-speed{
  z-index: 10px;
}

#container-rpm{
  z-index: 10px;
}

h1{
	color: #000000;
	position: left;
	margin-left: 10%;
	font-size: 22px;
  font-family: verdana, sans-serif;
}

#logo{
  max-width: 80%;
}

header{
  background-color: black;
}



#demo{
	color: #000000;
	font-size: 40px;
	text-align: center;
	font-family: verdana, sans-serif;
	margin-top: 30px;
	margin-bottom: 30px;

}

.box1{
  grid-area: header;
  width: 100%;
  
}

.box2{
	grid-area: afstand;
	border-style: solid;
	border-color: #000000;
	border-radius: 3px;
  background-color: white;
}

#box3{
	grid-area: brandstof;
	border-style: solid;
	border-color: #000000;
	border-radius: 3px;
	margin-top: 40px;
  background-color: white;
  width: 100%;
  margin-top: 0px;
}
.box4{
  grid-area: snelheid;
  border-style: solid;
  border-color: #000000;
  border-radius: 3px;

  background-color: white ;
  width: 100%;
  border: 0px solid black;
  margin: 0px !important;
  order: 1;

}



.box5{
  grid-area: meter;
  background-color: white;
  width: 100%;
  border: 0px solid black;
  margin: 0px !important;
  order: 2;

}


@media only screen and (min-width: 800px) {
  .grid-container{
     grid-template-columns: 1fr 1fr;
    display: grid;
    grid-gab: 20px;
    

    grid-template-areas: 
        "header header"
        "afstand brandstof"
        "snelheid meter";
  }
  h1{
    font-size: 22px;
  }

}


@media only screen and (min-width: 980px) {
  .grid-container{
     grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    grid-gab: 20px;
    

    grid-template-areas: 
        "header header header"
        "afstand afstand afstand"
        "brandstof snelheid meter";
  }
.box3, .box4, .box5{
  width: 100%;
  }

  h1{
    font-size: 24px;
  }

  #logo{
    width: 50%;
  }
}   

@media only screen and (min-width: 1280px) {
  .grid-container{
     grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    grid-gab: 20px;
    

    grid-template-areas: 
        "header header header"
        "afstand afstand afstand"
        "brandstof snelheid meter";
  }
.box3, .box4, .box5{
  width: 100%;
  }

  h1{
    font-size: 26px;
  }
}     